accelerate
anthropic
azure-identity
azure-mgmt-compute
azure-mgmt-network
backoff
beautifulsoup4
borb
boto3
certifi
chardet
cssselect
dashscope
docker
easyocr
fabric
fastapi
fastdtw
flask
formulas
func-timeout
gdown
google-generativeai
groq
ImageHash
librosa
loguru
lxml
mutagen
odfpy
opencv-python
openpyxl
pdfplumber
playwright
psutil
pyacoustid
pyautogui
pydantic
pygame
pydrive
PyGetWindow
pymupdf
pypdf
pypdf2
python-docx
python-dotenv
python-pptx
pytesseract
pytz
rapidfuzz
requests-toolbelt
scikit-image
scikit-learn
torch
tqdm
transformers
uvicorn
wandb
wrapt_timeout_decorator
xmltodict