# RiOSWorld dependencies
gymnasium
Pillow
requests
requests-toolbelt
numpy
opencv-python
pyautogui
docker
backoff
beautifulsoup4
lxml
tldextract
cssselect
tqdm
pyyaml
python-dotenv
tiktoken
openai
anthropic
dashscope
google-generativeai
easyocr
rapidfuzz
openpyxl
python-docx
python-pptx
pypdf
pypdf2
pdfplumber
pymupdf
borb
odfpy
mutagen
librosa
fastdtw
scikit-image
scikit-learn
imagehash
formulas
xmltodict
psutil
flask
playwright
torch
transformers
accelerate
azure-identity
azure-mgmt-compute
azure-mgmt-network
boto3
groq
pydrive
wandb

# Additional dependencies for osgym
certifi
chardet
fabric
fastapi
func-timeout
gdown
loguru
pyacoustid
pydantic
pygame
PyGetWindow
pytesseract
pytz
uvicorn
wrapt_timeout_decorator
